# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e36f228725ba00f0661a53e1bafaa060"
name = "Sudae"
application_url = "https://example.com"
embedded = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ ]
